.search:focus{
    background-color: rgb(203, 222, 228)  ;
    background-color: black;

   
}
.search{
    width: 14%;
    background-color: rgba(40, 38, 38, 0.943);
    border: 1px solid  #61dafb;
    padding: 0.2%;
    border-radius: 40px  40px;
    
}

@media only screen and (max-width: 700px) {
    .search {
        width: 28%;

        padding: 0.5%;
    }
  }

